@import "~antd/dist/antd.css";

:root {
  --main-bg-color: rgb(23, 43, 77);
  --primary-text: rgb(94, 108, 132);
  --header-text: 24px;
  --p-text: 12px;

  --margin-s: 4px;
  --margin-m: 8px;
  --margin-l: 16px;
  --margin-xl: 32px;

  --border-radius: 2px;
  --border-color: #d3e0eb;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
}
